    <!--=== Content Part ===-->
    <div class="container content">
      <div class="row blog-page">
            <!-- Left Sidebar -->
          <div class="col-md-8 md-margin-bottom-40">
            <% @blogs.each do |blog| %>
                <!--Blog Post-->
                <div class="row blog blog-medium margin-bottom-40">
                    <div class="col-md-4">
                    <%= resp_image_tag(blog.cover_photo.photo, { sm: "300x240" }, { class: "img-responsive", crop: :fill, gravity: :faces }) %>
                    </div>
                    <div class="col-md-8">
                        <h2><%= blog.title %></h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> <%= blog.publish_date.strftime("%B %d, %Y") %></li>
                        </ul>
                        <p><%= blog.short_description -%></p>
                        <p><%= link_to("<i class='fa fa-location-arrow'></i> Read More".html_safe, blog_url(blog), class: "btn-u btn-u-small") -%></p>
                    </div>
                </div>
                <!--End Blog Post-->
                <hr class="margin-bottom-40">
            <% end %>


                <!--Pagination-->
                <div class="text-center">
                  <%= paginate @blogs  %>
                </div>
                <!--End Pagination-->
            </div>
            <!-- End Left Sidebar -->

            <!-- Right Sidebar -->
          <div class="col-md-4">
            <%= render "blogs/recent_blogs" -%>
            <%= render "common/twitter_follow" -%>
            <%= render "common/facebook_like" -%>
            <%#= render "common/ad" -%>
          </div>
            <!-- End Right Sidebar -->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
