<div class="header-v5 header-static">
  <!-- Topbar v3 -->
  <div class="topbar-v3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-inline right-topbar pull-right">
<% if(user_signed_in?) %>
                (<%= link_to current_user.try(:email), user_url(current_user) -%>)
                <li class="topbar-devider"></li>
                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% end %>                
          </ul>
        </div>
      </div>
    </div><!--/container-->
  </div>
  <!-- End Topbar v3 -->

  <!-- Navbar -->
  <div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path -%>">
          <%#= image_tag "harsh_logo.jpg", id: "logo-header", alt: "Logo", height: "50" -%>
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path -%></li>
          <li><%= link_to "Blogs", blogs_path -%></li>
                        <li>
                          <a href="https://www.facebook.com/HarshvardhanPariharPage" target="_blank">
                            <i class="fb rounded-md fa fa-facebook"></i>
                          </a>
                        </li>
                        <li>
                          <a href="https://twitter.com/HarshParihar89" target="_blank"><i class="tw rounded-md fa fa-twitter"></i></a>
                        </li>
                        <li>
                          <a href="https://www.youtube.com/channel/UC6YPrLTM-2xeqgQDzlwb9Cw" target="_blank">
                            <i class="yt rounded-md fa fa-youtube"></i>
                          </a>
                        </li>
                        <li>
                          <%= link_to "Movies", new_user_session_url(subdomain: "movies") -%>
                        </li>            

        </ul>
        <% if false %>
        <div class="fb-page" data-href="https://www.facebook.com/HarshvardhanPariharPage" data-width="290" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/HarshvardhanPariharPage"><a href="https://www.facebook.com/HarshvardhanPariharPage">Harshvardhan Parihar</a></blockquote></div></div>
        <% end %>
      </div>

    </div>
  </div>
  <!-- End Navbar -->
</div>

<div class="container margin-top-10">
  <%= render "common/alerts" -%>
</div>